.sticky {
    background-color: white;
}

nav {
    box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    z-index: 3;
    transition: all 0.4s;

    .container {

        .nav-left {

            .logo {
                margin-right: 70px;

                img {
                    width: 130%;
                }
            }

            .menu-desktop {

                display: flex;

                .main-menu {
                    display: flex;
                    align-items: center;

                    margin: 0;

                    .active-menu {

                        &:hover .sub-menu {
                            opacity: 1;
                        }

                        .sub-menu {
                            position: absolute;
                            z-index: 2;
                            list-style-type: none;
                            min-width: 178px;
                            max-width: 225px;
                            background-color: #fff;
                            padding: 5px 0;
                            transition: all 0.4s;
                            opacity: 0;
                            box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);




                            li {
                                padding: 0;
                                margin: 0;

                                a {
                                    font-family: 'Poppins', sans-serif;
                                    font-size: 16px;
                                    line-height: 1.5;
                                    color: #555;
                                    display: block;
                                    padding: 8px 20px;
                                    width: 100%;
                                    transition: all 0.4s;


                                    &:hover {
                                        color: #6c7ae0;
                                    }
                                }
                            }
                        }
                    }

                    li {
                        padding: 30px 10px 30px 0px;
                        margin: 0px 4px 0px 14px;

                        a {

                            font-family: 'Poppins', sans-serif;
                            font-size: 16px;
                            color: #333;
                            padding: 5px 0px;
                            transition: all 0.4s;

                            &:hover {
                                color: #6c7ae0;
                            }
                        }
                    }
                }
            }
        }

        .icon-header {
            display: flex;
            align-items: center;
            gap: 40px;

            .icon-header-item {
                position: relative;
                font-size: 26px;
                line-height: 1;
                cursor: pointer;
                color: #333;
                transition: all 0.3s;

                &:hover {
                    color: #717fe0;
                }

                .shopping-number {
                    content: attr(data-notify);
                    font-family: 'Poppins', sans-serif;
                    font-size: 12px;
                    color: #fff;
                    line-height: 15px;
                    text-align: center;
                    display: block;
                    position: absolute;
                    top: -7px;
                    right: -10px;
                    min-width: 15px;
                    height: 15px;
                    padding: 0 3px;
                    background-color: #717fe0;
                }

                .heart-number {
                    content: attr(data-notify);
                    font-family: 'Poppins', sans-serif;
                    font-size: 12px;
                    color: #fff;
                    line-height: 15px;
                    text-align: center;
                    display: block;
                    position: absolute;
                    top: -7px;
                    right: -10px;
                    min-width: 15px;
                    height: 15px;
                    padding: 0 3px;
                    background-color: #717fe0;
                }
            }

            .login_link {
                .userNameNav {
                    display: inline-block;
                    margin: 10px;
                    font-size: 30px;
                    font-weight: 500;
                    border-bottom: 3px solid #6c7ae0;
                }

                .log_out {
                    display: inline-block;
                    font-size: 26px;
                    line-height: 1;
                    cursor: pointer;
                    color: #333;
                    transition: all 0.3s;
                    &:hover {
                        color: red;
                    }
                }
            }
        }

        .hamburger {
            display: none;
        }
    }
}

.mobile-nav-list {
    display: none;

    .nav-mobile {

        .menu-desktop {
            .main-menu {
                background-color: #717fe0;
                margin: 0;
                padding: 10px 0;

                li {
                    position: relative;

                    a {
                        font-size: 14px;
                        color: white;
                        line-height: 2.8;
                        padding: 5px 20px;
                        font-weight: 500;
                    }

                    .down {
                        position: absolute;
                        right: 15px;
                        top: 2px;
                        padding: 10px;
                        cursor: pointer;
                        color: #fff;
                        transition: all 0.4s;
                    }

                    .down-transition {
                        transform: rotate(90deg);
                    }

                    .sub-menu-mobile {
                        background-color: white;
                        height: 0px;
                        //  height: 100%;
                        overflow: hidden;
                        transition: all 0.4s;

                        li {
                            a {
                                font-size: 14px;
                                color: #666;
                                line-height: 2.5;
                                padding: 5px 30px;
                            }
                        }
                    }

                    .sub-menu-open {
                        height: 100pt !important;

                    }
                }
            }


        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 95% !important;
        width: 100%;
    }

    nav {
        position: static;

        .container {
            .nav-left {
                .menu-desktop {
                    display: none;
                }
            }

            .hamburger {
                display: block;
            }
        }
    }

    .mobile-nav-list {
        transition: all 0.4s;
        display: block;
        height: 0px;
        overflow: hidden;
    }

    .dis-b {
        height: 265px;
    }

    .dis-b2 {
        height: 400px;
    }

    header {
        .top-bar {
            display: none;
        }


    }

}